:root {
  --poppins: "Poppins", sans-serif;
  --linear: linear-gradient(270deg, rgba(103,88,250,1) 0%, rgba(140,88,250,1) 100%);
}
* {
  font-family: var(--poppins);
}
.sidebar {
  background-color: #252654;
  /* max-width: 300px;
  position: fixed;
  overflow-y: scroll; */
}
.mainContent {
  background-color: #151436;
}
.welcomeBoard {
  background-color: #252654;
  border-radius: 2rem;
}
.bg-icon {
  background-color: #2d316b;
}
.btn-search,
.search-form input {
  background-color: #252654;
}
.input-search {
  background-color: transparent;
  border-color: transparent;
}
.card {
  background-color: #252654;
  border-radius: 20px;
  margin-bottom: 23px;
}
.card-img-top {
  border-radius: 20px;
}
h5,
span {
  color: white;
}
.btn-play {
  position: absolute;
  top: -56px;
  right: 30px;
  background: var(--linear);
}
.btn-play.btn-relative{
  position: relative;
  top: auto;
  right: auto;
}
p {
  font-size: 14px;
}
.rightSidebar {
  border-radius: 20px;
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.imageSidebar {
  margin-left: 0px;
}
.comments {
  border-radius: 20px;
}
.rightSidebar {
  background-color: #252654;
}
.rating span {
  color: #9595d1;
}
.activeSidebar {
  background-color: rgba(140, 88, 250, 1);
}
.page-link {
  background-color: #252654;
  border: 0px;
}
.page-item-off {
  padding-top: 5px;
}
.page-link-off {
  text-decoration: none;
}
.btnSet {
  background-color: #262653;
}
.post-list{
  width: 100%;
  float: left;
}
.post-item{
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.post-item:last-child{
  margin-bottom: 0;
}
.post-item .post-thumb{
  float: left;
}
.post-item .post-text{
  width: calc(100% - 50px);
  float: left;
  padding-left: 15px;
}
.post-item .post-text h5{
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0;
  line-height: 150%;
}

